main {
  display: flex;
  /* height: 95vh; */
  justify-content: space-between;
  gap: 12em;
}

main .left {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 50%;
  margin-top: 100px;
  justify-content: flex-start;
}

.left > * {
  margin-left: 7%;
}

.card {
  background: #000210;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card p {
  color: white !important;
  margin: 0 !important;
  line-height: 1.7em;
}

main .left h1 {
  font-size: 36px;
  color: white;
}

.secondary_button {
  width: 150px;
}

.left p {
  color: #474747;
  font-size: 18px;
  margin-top: -20px;
}

.right {
  margin-top: 100px;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.right img {
  width: 93%;
}

.right ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

ul li {
  font-size: 20px;
}

footer {
  border-top: 2px solid #dcdcdc;
  margin-top: 40px;
}
@media screen and (max-width: 1500px) {
  .left {
    width: 50% !important;
  }

  .right {
    width: 50%;
  }
}

.heading {
  color: black !important;
}

@media screen and (max-width: 1024px) {
  .left {
    width: 93% !important;
  }

  .right {
    width: 100%;
    align-items: center;
  }
  main {
    display: unset;
  }
}

@media screen and (max-width: 600px) {
  .left > * {
    margin-left: 3%;
  }

  .left {
    width: 97% !important;
  }

  .left > div {
    flex-direction: column;
    gap: 2em !important;
  }

  .stats {
    margin: 0%;
  }

  .stats > div {
    align-items: center;
  }
}
